<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Todo</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/navbar-fixed/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/navbar-fixed/navbar-top-fixed.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Todo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>

        </div>
    </nav>

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>TodoApp</h1>
            <div class="row">
                <input type="text" class="form-control col-10" id="item">
                <button class="btn btn-outline-prime col-2" onclick="add()">+</button>
            </div>
            <br></br>
            {% for item in items %}
            <div class="card">
                <div class="card-body" item-id={{item.id}}>
                    {{item.item}}
                    <button class="btn btn-outline-danger float-right" onclick="deleteItem({{item.id}})">D</button>
                </div>
            </div>
            {% endfor %}

        </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>

    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
    <script>
        function add() {
            let item = $("#item").val()
            console.log("add: " + item)
            window.location.href = "add/" + item
        }

        function deleteItem(itemId) {
            window.location.href = "dlt/" + itemId
            console.log("delete: " + itemId)
        }
    </script>
</body>

</html>